@mixin font($ff: 'Raleway', $fw: 400, $fs: 16px, $lh: 1.2, $color: inherit) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $color;
  }
  
  @mixin for-phone-up {
    @media (min-width: 320px) {
      @content;
    }
  }
  
  @mixin for-phone-only {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  }
  
  @mixin for-tablet-up {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199px) {
      @content;
    }
  }
  
  @mixin for-desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }
  