$header-logo-color: rgb(26, 183, 152);
$button-on-our-team-color: rgba(26, 183, 152, 0);
$button-on-our-team-color: rgb(40, 37, 40);
$header-nav-color: rgba(40, 37, 40, 0.6);
$white-color: rgb(255, 255, 255);
$green-text-color: rgb(26, 183, 152);
$blue-background-color: rgb(49, 212, 231);
$black-text-color: rgb(34, 34, 34);
$dark-blue-background-color: rgb(0, 152, 205);
$green-title-color: rgb(14, 180, 147);
$black-name-our-team-color: rgb(6, 32, 51);
$black-text-our-team-color: rgba(6, 32, 51, 0.8);
$grey-stripes-color: rgb(83, 91, 100);
$text-profession-our-team-color: rgba(6, 32, 51, 0.561);
$text-in-input-footer-color: rgb(193, 193, 193);
$white-transparent-color: rgba(255, 255, 255, 0.502);
$background-facebook-color: rgb(59, 89, 151);
$background-twitter-color: rgb(62, 194, 243);
$background-linket-color: rgb(0, 122, 185);
$mail-footer-color: rgb(191, 172, 226);
$btn-footer-color: rgb(49, 212, 231);
$main-blue-color: #1ab798;
$main-white-color: #ffffff;
